/* ==========================================================================
   Page Structure
	   4 x layouts
	   1. Standard Center Aligned -- layout_center
	   2. Left Side Nav -- layout_side_left
     3. Right Side Nav -- layout_side_right
	   4. Full Width -- layout_full
   ========================================================================== */

    .layout_center {} /* include this class on the body tag to implement this layout */

   		.layout_center .page_container_outer {
   			width: 100%;
   		}

	   		.layout_center .page_container_inner {
	   			width: 960px; /* change size as required by project */
	   			margin: auto;
	   		}

    
    /* ======== Left Sidebar layout ======== */

    .layout_side_left {} /* include this class on the body tag to implement this layout */
   		
   		.layout_side_left .page_container_outer {
   			width: 100%;
   		}

	   		.layout_side_left .page_container_inner {
	   			margin: 0 20px;
				position:relative;
	   		}

        .layout_side_left .main {
          position: relative;
        }

          .layout_side_left .main .sidebar_left {
            position: absolute;
            top: 20px;
            bottom: 0;
            width: 250px;
          }

          .layout_side_left .main .push_left {
            margin-left: 250px;
            margin-right: 0;
            padding: 0;
            padding: 10px;
          }

    /* ======== Right Sidebar layout ======== */

    .layout_side_right {} /* include this class on the body tag to implement this layout */
      
      .layout_side_right .page_container_outer {
        width: 100%;
      }

        .layout_side_right .page_container_inner {
          margin: 0 20px;
          position: relative;
        }

        .layout_side_right .main {
          position: relative;
        }

          .layout_side_right .main .sidebar_right {
            position: absolute;
            top: 20px;
            bottom: 0;
            width: 250px;
            right: 0;
          }

          .layout_side_right .main .push_right {
            margin-left: 0px;
            margin-right: 250px;
            padding: 0;
            padding: 10px;
          }
    
    /* ======== Full width layout ======== */

    .layout_full {} /* include this class on the body tag to implement this layout */

   		.layout_full .page_container_outer {
   			width: 100%;
   		}

	   		.layout_full .page_container_inner {
	   			margin: 0 20px; /* set gutter to left & right of content */
	   		}

	.main {
	   	background-color: #fafafa;
	}

		.main .page_container_inner {
			padding: 20px 0;
		}

	.footer {

	}

		.footer .page_container_inner {
			padding: 20px 0;
			border-top: 1px solid #333;
		}

/* ==========================================================================
   Helper classes
   ========================================================================== */
    .clear {
      clear: both;
    }

    .left {
   		float: left;
    }

    .right {
   		float: right
    }

    .clearfix {
   		clear: both;
    }

    .clearfix:after {
	   content: " "; /* Older browser do not support empty content */
	   visibility: hidden;
	   display: block;
	   height: 0;
	   clear: both;
	}

/* ==========================================================================
   Basic Html Elements
   ========================================================================== */

    /* ======== Forms ======== */

    /* ======== Buttons ======== */

    /* ======== Fonts ======== */

    /* ======== Lists ======== */

    ul {
    	margin-left: 10px;
    }

    	ul li {
    		list-style: none;
    		margin: 10px 0;
    	}

    		ul li a {
    			color: #333;
    			height: 45px;
    		}

    		ul li a:hover {
    			text-decoration: underline;
    		}

    ol {
    	margin-left: 20px;
    }

    	ol li {
    		margin: 10px 0;
    	}

    		ol li a {
    			color: #333;
    			height: 45px;
    		}

    		ol li a:hover {
    			text-decoration: underline;
    		}


    /* ======== Tables ======== */

    /* ======== Images ======== */

/* ==========================================================================
   Html Components
   ========================================================================== */

    /* ======== Navigation ======== */

    .brand a {
   		display: block;
   		height: 50px;
    }

    .brand a img {
   		width: 100%;
   		margin-top: 10px;
    }


    .nav_list ul {
    }

	   	.nav_list ul li {
	   		list-style: none;
	   		float: left; 
	   		margin: 0;
	   	}

	   		.nav_list ul li a {
	   			text-decoration: none;
	   			padding: 0 10px;
	   			display: block;
	   			height: 50px;
	   			line-height: 50px;
	   		}

	   			.nav_list ul li a:hover {
	   				background-color: #ddd;
	   			}

	/* ======== Hero ======== */

	.hero {
		color: #fff;

		background: #db3391; /* Old browsers */
		background: -moz-linear-gradient(left,  #db3391 0%, #db5c77 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#db3391), color-stop(100%,#db5c77)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #db3391 0%,#db5c77 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #db3391 0%,#db5c77 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #db3391 0%,#db5c77 100%); /* IE10+ */
		background: linear-gradient(to right,  #db3391 0%,#db5c77 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3391', endColorstr='#db5c77',GradientType=1 ); /* IE6-9 */
	}
	
	p {
		margin:0px 0px 10px;
		padding:0px;
	}



/* ==========================================================================
   Js Components
   ========================================================================== */

   /* ======== Tabs ======== */

   /* ======== Modals ======== */

   /* ======== Dropdowns ======== */

   /* ======== Mega Dropdowns ======== */

   /* ======== Pop Over ======== */

   /* ======== Tooltip ======== */

   /* ======== Side Nav ======== */

   /* ======== Errors ======== */

/* ==========================================================================
   Icons
   ========================================================================== */

  @font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-8obian');
    src:url('../fonts/icomoon.eot?#iefix-8obian') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-8obian') format('woff'),
      url('../fonts/icomoon.ttf?-8obian') format('truetype'),
      url('../fonts/icomoon.svg?-8obian#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .icon_block {}

   .icon_block li {
    width: 25%;
    float: left;
   }

  .icon_block li .icon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon_block li .icon:before {
    font-size: 24px;
    margin-right: 10px;
  }

  .icon_alert:before {content: "\e600";}
  .icon_calendar:before {content: "\e601";}
  .icon_close:before {content: "\e602";}
  .icon_drop_arrow:before {content: "\e603";}
  .icon_hamburger:before {content: "\e604";}
  .icon_left_arrow:before {content: "\e605";}
  .icon_mag_glass:before {content: "\e606";}
  .icon_right_arrow:before {content: "\e607";}
  .icon_image:before {content: "\e608";}
  .icon_phone:before {content: "\e609";}
  .icon_map:before {content: "\e60a";}
  .icon_print:before {content: "\e60b";}
  .icon_mobile:before {content: "\e612";}
  .icon_cog:before {content: "\e60c";}
  .icon_heart:before {content: "\e60d";}
  .icon_gplus:before {content: "\e60e";}
  .icon_fbook:before {content: "\e613";}
  .icon_rss:before {content: "\e60f";}
  .icon_vimeo:before {content: "\e614";}
  .icon_flickr:before {content: "\e610";}
  .icon_twitter:before {content: "\e611";}


















